body{
    background-color: rgb(238, 245, 238);
    font-family:'Times New Roman', Times, serif;
    
}
h2{
    color:rgb(194, 91, 91);
}
h1{
    color: rgb(150, 47, 12);
}
thead{
    color: rgb(101, 101, 101);
}
h4{
    color: rgb(6, 101, 61);
}
button{
    color: rgb(115, 64, 209);
    border-radius: 50px;
    border-color: rgb(201, 102, 244);
}
button:hover{
    background-color: rgb(216, 146, 146);
}
.heading{
    margin: auto;
    left: 50%;
    text-align: center;
    padding:1px;
    background-color: rgb(239, 229, 212);
    border-radius: 7px;
}
